@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.bg-color-pokemon-base {
  overflow-y: hidden;
  background-color: #f5f7fa;
}

.bg-color-pokemon-green {
  overflow-y: hidden;
  background-color: #39c49f;
}

.bg-color-pokemon-red {
  overflow-y: hidden;
  background-color: #f76b6b;
}

.bg-color-pokemon-blue {
  overflow-y: hidden;
  background-color: #4fa7e0;
}

.bg-color-pokemon-yellow {
  overflow-y: hidden;
  background-color: #f7d86d;
}

.text-primary {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #333333;
}

.text-color-pokemon-green {
  color: #42b495;
}

.text-color-pokemon-red {
  color: #db4d4d;
}

.text-color-pokemon-blue {
  color: #328ecc;
}

.text-color-pokemon-yellow {
  color: #eccc57;
}

.container {
  max-width: 768px; /* batas mobile */
  margin: 0 auto;
  padding: 0 auto;
  background-color: #f5f7fa;
  min-height: 100dvh;
}

@media (max-height: 400px) {
  .container {
    overflow-y: auto;
    max-height: 100vh;
    background-color: #f5f7fa;
  }

  .bg-color-pokemon-base {
    overflow-y: auto;
    background-color: #f5f7fa;
  }

  .bg-color-pokemon-green {
    overflow-y: auto;
    background-color: #39c49f;
    max-height: 100vh;
  }

  .bg-color-pokemon-red {
    overflow-y: auto;
    background-color: #f76b6b;
  }

  .bg-color-pokemon-blue {
    overflow-y: auto;
    background-color: #4fa7e0;
  }

  .bg-color-pokemon-yellow {
    overflow-y: auto;
    background-color: #f7d86d;
  }
}
